body{
    background-color:#1F1F1F;
}
.parti{
    display: grid;
    grid-template-columns: 70% 30%;
}
.D{
    display: grid;
    grid-template-columns: 55% 45%;
}
nav{
    margin-top: 25px;
}
.D1{
    margin-top: 230PX;
    margin-left: 70PX;
}
.logo{
    Font-family:"Alex brush", cursive;
    margin-left: 75px;
}
.btn{
    width: 200px;
    height: 70px;
    border-radius: 10px;
    background: linear-gradient(180deg,#15B9B9 0%,#3C1DFF 100%);
}
.D2{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.homme{
    margin-top: 24px;
    margin-left: 25px;
}
.text{
    width: 550px;
    margin-left: 450px;
    margin-top: 35px;
}
.text1{
    margin-top: 25px;
}
.cercle{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
}
.A1{
    margin-top: -45px;
    margin-left: 145px;
}
.A2{
    margin-left: 395PX;
    margin-top: -45PX;
}
.A3{
    margin-left: 680PX ;
    margin-top: -45PX;
}
.A4{
    margin-left:950PX ;
    margin-top: -45PX;
}
.diarra{
    display: grid;
    grid-template-columns: 50% 50%;
}
.d1{
    font-size: 30PX;
    border-bottom: 3PX solid white;
    margin-bottom: 20PX;
}
.d2{
    font-size: 30PX;
    border-bottom: 3PX solid white;
    margin-bottom: 20PX;
}
.d3{
margin-left: 440px;
margin-top: -25px;
}
.d4{
    margin-left: 280px;
    margin-top: -25px;
}
.d5{
margin-left: 20px;
margin-top: 18px;
}
.d6{
    margin-left: 20px;
    margin-top: 18px;
}
.I1{
margin-top: 28PX;
}
.I2{
    margin-left: 520PX;
    margin-top: 28PX;
}
.I3{
    margin-left: 45PX;
}
.work{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
}
.astou{
margin-top: -630px;
margin-left: 85px;
}
.b{
    border-radius: 10px;
    margin-left: 500px;
    background: linear-gradient(180deg,#15B9B9 0%,#3C1DFF 100%);
    width: 200px;
    height: 70px;
}

.tata{
    color: #989898;
}